
*{margin:0px 0px;
    padding:0px 0px;
}
    #nav {
  display: flex;
  width: 84.3rem;
  height:50px;
  /* background-color: #24305E; */
}
.img {
    width: 60px;
    height: 35px;
    padding: 0px 10px;
}
.img:hover{
    background-color: rgb(255, 255, 255);
}
#first{
    display: flex;
    justify-content: center;
    align-items: center;
}
#logos{
    width: 75px;
    height: 45px;
    padding:0px 12px;
}
#atg {
    font-size:30px;
    padding:0px 24px;
    color:white;
}
#social {
    display: flex;
    width: 30rem;
    height: 50px;
    align-items: center;
    justify-content: center;
    margin: 0px 0px 0px 530px;
}
#contact {
    font-size: 20px;
    padding: 0px 25px;
color:white;
}
#section{
    display:flex;
    width:84.3rem;
    height:36rem;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#section::before{
    content: "";
    background: url(shutterstock_290001398.jpg) no-repeat center center/cover;
    position:absolute;
    width:84.3rem;
    height:42rem;
    z-index: -1;
    margin: 0px 0px 100px 0px;
}

#hello{
    font-size:100px;
    width:300px;
    height:200px;
    color:white;
}






/* second */
#second{
display:grid;
grid-template-columns: repeat(about,auto);
/* grid-template-areas:'about about   ; */
}
#about{
height:34rem;
grid-area:about;
/* color:black; */
}
#our{
    height:34rem;
grid-area:our;
/* color:black; */

}
.p{
    color:black;
}